@model ProductManagementProject.Context.tbl_product
@{
    ViewBag.Title = "ProductPage";
}

<div class="col-lg-12 col-sm-12">
    <div class="form-div">
        <div class="text-center">
            <h1>Product Details</h1>
        </div>

        @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0  col-xs-12 col-xs-offset-0">
                <div class="form-content">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Name</label>

                        @Html.HiddenFor(x => x.Id)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Category</label>
                        @Html.DropDownList("Category", new List<SelectListItem>
                   {
                       new SelectListItem{Text="Electronics",Value="Electronics",Selected=true},
                       new SelectListItem{Text="Cartoon",Value="Cartoon"},
                       new SelectListItem{Text="Utensils",Value="Utensils"},

                   }, new { @class = "form-control" })

                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Price</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Quantity</label>
                        @Html.DropDownList("Quantity", new List<SelectListItem>
                 {
                     new SelectListItem{Text="1",Value="1",Selected=true},
                     new SelectListItem{Text="2",Value="2"},
                     new SelectListItem{Text="3",Value="3"},
                      new SelectListItem{Text="4",Value="4"},
                       new SelectListItem{Text="5",Value="5"},

                 }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Short Decription</label>
                        @Html.TextBoxFor(x => x.shortDescription, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Long Description</label>
                        @Html.TextBoxFor(x => x.longDescription, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Upload Small Image</label>
                        <input type="file" name="ImageFile" required class="form-control" />

                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Upload Larg Image</label>
                        <input type="file" name="ImageFile" required class="form-control" />
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group btn-div">
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </div>
                </div>
            </div>
        </div>


        }
    </div>
</div>
