<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <!-- Datatables CSS Links -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.dataTables.min.css">

    <!-- Datatables CSS Links -->

    <!-- Pop up CSS Links -->
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <!-- Pop up CSS Links -->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top custom__navbar">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"> Product Management</a>

            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    @if (@Session["Username"] != null)
                    {
                        <li><a href="Logout"><span class="glyphicon glyphicon-log-in position-left"></span> Logout</a></li>

                    }


                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!--<hr /> -->
        <footer class="custom__footer">
            <div class="footer_mainDiv">
                <p>&copy; @DateTime.Now.Year | Designed & Developed By Jeel Jain</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")



    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("scripts", required: false)

    <!-- Datatable JS Links -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    <!-- Datatable JS Links -->
    <!-- Initialize Datatable -->
    <script>
        $(document).ready(function () {
            var table = $('#productList_table').DataTable({
                fixedHeader: true,
                //scrollY: 600,
                scrollX: true,
                scrollCollapse: true,
                //fixedColumns: {
                //    leftColumns: 1
                //},
                "searching": true,
                "lengthChange": true,
                "paging": true,
                "ordering": true,
                "info": true,
                //order: [[9, 'asc']]
            });
        });
    </script>
    <!-- Initialize Datatable -->

</body>
</html>
